folium
streamlit_folium
dash==2.16.1
deprecation==2.1.0
duckdb==0.10.1
Flask==3.0.3
geographiclib==2.0
geopy==2.4.1
ipykernel==6.29.4
ipython==8.22.2
matplotlib==3.7.5
numpy==1.26.4
orjson==3.10.0
pandas==2.1.4
psutil==5.9.8
ptyprocess==0.7.0
pyarrow==16.0.0
pycaret==3.3.0
pycparser==2.21
pydeck==0.9.0b0

